<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.RecordMapper">
  <select id="selectAllRecord" resultType="com.example.mybatisdemo.model.Record">
  	select * from record
  </select>
  <insert id="addRecord" parameterType="com.example.mybatisdemo.model.Record">
  	insert into record (event,priority,value,interest,status,estimate,create_time,update_time,delete_time,lft,rgt)
      values(#{event},#{priority},#{value},#{interest},#{status},#{estimate},
      #{createTime},#{updateTime},#{deleteTime},#{lft},#{rgt})
  </insert>
  <update id="updateRecord" parameterType="com.example.mybatisdemo.model.Record">
  	update record set event=#{event},priority=#{priority},value=#{value},interest=#{interest},
      status=#{status},estimate=#{estimate},create_time=#{createTime},
      update_time=#{updateTime} ,delete_time=#{deleteTime},lft=#{lft},rgt=#{rgt} where id=#{id}
  </update>
  <delete id="deleteRecord" parameterType="int">
  	delete from record where id=#{id}
  </delete>
</mapper>